{% extends "base.html" %}

{% block content %}

<h2>📊 Course-wise Attendance</h2>

<div class="box">
    <p>Data Structures</p>
    <div class="progress"><div class="progress-fill" style="width: 85%">85%</div></div>
</div>

<div class="box">
    <p>Operating Systems</p>
    <div class="progress"><div class="progress-fill" style="width: 78%">78%</div></div>
</div>

<div class="box">
    <p>DBMS</p>
    <div class="progress"><div class="progress-fill" style="width: 90%">90%</div></div>
</div>

<div class="box">
    <p>Computer Networks</p>
    <div class="progress"><div class="progress-fill" style="width: 82%">82%</div></div>
</div>

{% endblock %}