{% extends "base.html" %}

{% block content %}

<h2>📘 My Courses</h2>

<div class="grid">

    <div class="box">
        <h4>Data Structures</h4>
        <p>Faculty: Ramesh</p>
    </div>

    <div class="box">
        <h4>Operating Systems</h4>
        <p>Faculty: Sita</p>
    </div>

    <div class="box">
        <h4>DBMS</h4>
        <p>Faculty: Kumar</p>
    </div>

    <div class="box">
        <h4>Computer Networks</h4>
        <p>Faculty: Rao</p>
    </div>

    <div class="box">
        <h4>Machine Learning</h4>
        <p>Faculty: Meena</p>
    </div>

    <div class="box">
        <h4>Cyber Security</h4>
        <p>Faculty: Prakash</p>
    </div>

    <div class="box">
        <h4>Software Engineering</h4>
        <p>Faculty: Anil</p>
    </div>

</div>

{% endblock %}