<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-wrapper">
    <div class="auth-card">

        <div class="card-left">
            <img src="{{ url_for('static', filename='images/girl.png') }}">
        </div>

        <div class="card-right">
            <h2>Register</h2>

            <form method="POST" action="/register_user">
                <input type="text" name="student_id" placeholder="Roll Number" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Register</button>
            </form>

            <p>Already have an account? <a href="/">Login</a></p>
        </div>

    </div>
</div>

</body>
</html>